body {
    background-image: url(/images/house.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: fixed;
}
.layer {
    background-color:rgba(6, 6, 6, 0.274);
    position: absolute;
    width: 100%;
    height: 100%;
}

.infoBoxes {
    margin-top: 2%;
}

.signin {
    display: block;
    margin-top: 5%;
    color: #000;
}

.googlebutton {
    padding: 2%;
    height: 10%;
    width: 30%;
}

.signin:hover {
    transition: background 0.9s linear;
    background-color: rgba(255, 255, 255, 0.226);
    box-shadow: 0 0 10px #000;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
}


