body {
    background-image: url(/images/house.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}

.appheadline {
    padding-bottom: 10%;
}

.signin {
    padding: 4%;
    width: 600px;
    height: 200px;
    margin: 0 auto;
    color: #000;
    transition: background 0.5s linear;
}

.signin:hover {
    background-color: rgba(255, 255, 255, 0.226);
    box-shadow: 0 0 4px #000;
}

.googlebutton {
    height: 100px;
    width: 300px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
}


