@import 'colors';

#items {
    margin-top: 4%;
}

.project:hover {
    background-color: #5bc0de;
    color: $lightColor;
}

.thetasks:hover {
    background-color: #5bc0de;
    color: $lightColor;
}