@import 'colors';

#items {
    margin: 2%;
}

.item {
    border: 2px dashed rgb(184, 184, 184);
    padding: 2%;
}

.formButtons {
    margin: 0 auto;
}

.project:hover {
    background-color: #5bc0de;
    color: $lightColor;
}

.thetasks:hover {
    background-color: #5bc0de;
    color: $lightColor;
}
