.seasonButtons {
    display: inline-flex;
    flex-direction: column;
    padding-left: 5%;
}

.seasonsinglebutton {
    margin-bottom: 10%;
        -webkit-border-radius: 3;
        -moz-border-radius: 3;
        border-radius: 3px;
        font-family: 'Tienne', serif;
        color: #000000;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.062);
        padding: 10px 20px 10px 20px;
        border: solid #000000 2px;
        text-decoration: none;
}

.seasonsinglebutton:hover {
    background-color: rgba(255, 255, 255, 0.295);
}

.seasonBackground {
    box-shadow: inset 1px 1px 15px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.856);
    margin-bottom: 5%;
    margin-top: 10%;
    padding: 2%;
}

.scheduleHeading {
    padding-bottom: 5%;
}

.seasonHeading {
    padding-bottom: 2%;
}