<div class="container-fluid" ng-controller="DashboardCtrl">
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome, Gina!</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img alt="Bootstrap Thumbnail First" src="/images/maintenanceicon.png" />
                            <div class="caption">
                                <h3 ng-click="">You Have 2 Outstanding Maintenance Tasks For This Month</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img alt="Bootstrap Thumbnail Second" src="/images/toolbox.png" />
                            <div class="caption">
                                <h3 ng-click="">You Have 1 Home Improvement Project Due Within 90 Days</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img alt="Bootstrap Thumbnail Third" src="/images/purchaselist.jpg" />
                            <div class="caption">
                                <h3 ng-click="">Purchase Materials For Upcoming Tasks And Projects</h3>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>