<div class="container-fluid" ng-controller="DashboardCtrl">
    <div class="row">
        <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3" ng-click="getToCreateANewMaintenanceTask()">
                        <div class="thumbnail dash">
                            <img alt="Bootstrap Thumbnail First" src="/images/maintenanceicon.png" />
                            <div class="caption">
                                <h3 ng-click="">Create a Maintenance Task</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-click="getToCurrentMaintenanceItemsList()">
                        <div class="thumbnail dash">
                            <img alt="Bootstrap Thumbnail Second" src="/images/toolbox.png" />
                            <div class="caption">
                                <h3 ng-click="">View Current Maintenance Tasks</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-click="getToSeeTasksBySeason()">
                        <div class="thumbnail dash">
                            <img alt="Bootstrap Thumbnail Third" src="/images/calendar.png" />
                            <div class="caption">
                                <h3>See Tasks By Season</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-click="getToSearchProducts()">
                        <div class="thumbnail dash">
                            <img alt="Bootstrap Thumbnail Fourth" src="/images/shoppingcart.png" />
                            <div class="caption">
                                <h3>Add to Task Materials List</h3>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3" ng-click="getToCreateANewImprovementProject()">
                            <div class="thumbnail dash">
                                <img alt="Bootstrap Thumbnail First" src="/images/maintenancelist.png" />
                                <div class="caption">
                                    <h3 ng-click="">Create a Home Improvement Project</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" ng-click="getToCurrentImprovementProjectsList()">
                            <div class="thumbnail dash">
                                <img alt="Bootstrap Thumbnail Second" src="/images/projects.png" />
                                <div class="caption">
                                    <h3 ng-click="">View Current Projects</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" ng-click="getToSeeProjectsBySeason()">
                            <div class="thumbnail dash">
                                <img alt="Bootstrap Thumbnail Third" src="/images/calendar.png" />
                                <div class="caption">
                                    <h3>See Projects By Season</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" ng-click="getToSearchProducts()">
                                <div class="thumbnail dash">
                                    <img alt="Bootstrap Thumbnail Fourth" src="/images/shoppingcart.png" />
                                    <div class="caption">
                                        <h3>Add to Project Materials List</h3>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
</div>