<div class="container-fluid" ng-controller="DashboardCtrl">
    <div class="row">
        <h1 class="text-center">My Dashboard</h1>
        <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3" ng-click="getToCreate()">
                        <div class="thumbnail dash">
                            <img alt="Bootstrap Thumbnail First" src="/images/plus.png" />
                            <div class="caption">
                                <h3 ng-click="">Create New</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-click="getToMaintenance()">
                        <div class="thumbnail dash">
                            <img alt="Bootstrap Thumbnail Second" src="/images/maintenanceicon.png" />
                            <div class="caption">
                                <h3 ng-click="">Maintenance</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-click="getToImprovements()">
                        <div class="thumbnail dash">
                            <img alt="Bootstrap Thumbnail Third" src="/images/toolbox.png" />
                            <div class="caption">
                                <h3>Improvements</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-click="getToSearchProducts()">
                        <div class="thumbnail dash">
                            <img alt="Bootstrap Thumbnail Fourth" src="/images/shoppingcart.png" />
                            <div class="caption">
                                <h3>Buy Materials</h3>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
