<div class="container-fluid loginPage">
        <div class="text-center signin" ng-click="authenticate()">
            <h4>Sign in with<a><img class="googlebutton" src="./images/new-google-logo-png.png"></a></h4>
        </div>
    <div class="row infoBoxes">
        <div class="col-md-4">
            <div class="thumbnail">
                <img alt="Bootstrap Thumbnail First" src="/images/hand.jpg" />
                <div class="caption">
                    <h4>Store Maintenance Tasks</h4>
                    <p>Use this app to store maintenance tasks to keep your home in good working order.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img alt="Bootstrap Thumbnail Second" src="/images/hammer.jpg" />
                <div class="caption">
                    <h4>Plan Improvement Projects</h4>
                    <p>MyHouse provides an excellent planning tool for all the dreams you have for your home.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img alt="Bootstrap Thumbnail Third" src="/images/painting.jpg" />
                <div class="caption">
                    <h4>Purchase Materials</h4>
                    <p>Store your task and project purchase lists and quickly reorder from Walmart.</p>
                </div>
            </div>
        </div>
    </div>
</div>