<nav class="navbar navbar-default" ng-controller="NavbarCtrl">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MyHouse</a>
          </div>

          <ul class="nav navbar-nav navbar-right" ng-show="!uid">
              <li><a ng-href="#!/login" id="login" class="loginnav">Login</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-show="uid">
              <li><a ng-href="#!/dashboard" id="dashboard" class="dashboard">Dashboard</a></li>
              <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a ng-href="#!/create/newtask">New Maintenance Task</a></li>
                      <li><a ng-href="#!/create/newproject">New Improvement Project</a></li>
                    </ul>
                  </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maintenance <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a ng-href="#!/maintenance/viewtasks">View Task List</a></li>
                  <li><a ng-href="#!/maintenance/seasonalview">Seasonal View</a></li>
                  <li><a ng-href="#!/maintenance/archives">Archives</a></li>
                </ul>
              </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Improvements <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a ng-href="#!/improvements/viewprojects">View Projects</a></li>
                  <li><a ng-href="#!/improvements/seasonalview">Seasonal View</a></li>
                  <li><a ng-href="#!/improvements/archives">Archives</a></li>
                </ul>
              </li>
              <li><a ng-click="logoutUser()" class="logoutnav">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>