<div class="search" ng-controller="SearchProductsCtrl">
    <div class="input-group col-xs-6 col-xs-offset-3">
        <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
        <input ng-keypress="onEnterSearch($event)" type="text" class="form-control" aria-describedby="basic-addon1">
    </div>
        <div id="products">
            <div ng-repeat="item in items" class="col-sm-6 col-md-4 product">
                <div class="thumbnail">
                    <img class="itemImage" src="{{item.mediumImage}}">
                    <h3 class="itemTitle">{{item.name}}</h3>
                    <p class="salePrice">${{item.salePrice}}</p>
                    <a href="{{item.addToCartUrl}}">Add To Your Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>