<div class="container-fluid" ng-controller="CreateCtrl">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4" ng-click="getToCreateANewMaintenanceTask()">
                    <div class="thumbnail dash">
                        <img alt="Bootstrap Thumbnail First" src="/images/maintenanceicon.png" />
                        <div class="caption">
                            <h3>Create a Maintenance Task</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" ng-click="getToCreateANewImprovementProject()">
                    <div class="thumbnail dash">
                        <img alt="Bootstrap Thumbnail First" src="/images/maintenancelist.png" />
                        <div class="caption">
                            <h3>Create a Home Improvement Project</h3>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <h3><a class="btn" ng-click="getBackToDashboard()">Go Back To Dashboard »</a></h3>
</div>