<form class="form-horizontal" name="newTaskForm" ng-controller="NewTaskCtrl">
        <fieldset>
        
        <!-- Form Name -->
        <legend>New Maintenance Task</legend>
        
        <!-- Task Name -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="Task Name">Task Name</label>  
          <div class="col-md-6">
          <input id="Task Name" name="Task Name" type="text" ng-model="newTask.taskName" placeholder="Enter a name for your task (ex. Clean Gutters)" class="form-control input-md" required="">
            
          </div>
        </div>
        
        <!-- Task Description -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="description">Task Description</label>
          <div class="col-md-4">                     
            <textarea class="form-control" id="description" ng-model="newTask.taskDescription" name="description">Enter a brief description of the task at hand. </textarea>
          </div>
        </div>
        
        <!-- Recurring? -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="selectbasic">How often should this task be performed?</label>
          <div class="col-md-4">
            <select id="selectbasic" name="selectbasic" class="form-control" ng-model="newTask.frequency">
              <option value="Once">Once</option>
              <option value="Annually">Annually</option>
              <option value="Semi-Annually">Semi-Annually</option>
              <option value="Quarterly">Quarterly</option>
              <option value="Monthly">Monthly</option>
            </select>
          </div>
        </div>

        <!-- File Button --> 
        <div class="form-group">
          <label class="col-md-4 control-label" for="attachImage">Attach Photo</label>
          <div class="col-md-4">
            <input id="attachImage" name="attachImage" class="input-file" type="file">
          </div>
        </div>
        
        <!-- Date to be completed -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="datetocomplete">Date to be Completed</label>  
          <div class="col-md-4">
            <input id="datetocomplete" name="datetocomplete" type="text" ng-model="newTask.dateToBeCompleted" class="form-control input-md"  placeholder="Pick a date" moment-picker="newTask.dateToBeCompleted" format="MM-DD-YYYY">  
          </div>
        </div>
        
        <!-- Category -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="category">Task Category</label>
          <div class="col-md-4"> 
            <label class="radio-inline" for="category-0">
              <input type="radio" name="category" id="category-0" ng-model="newTask.category" value="Interior" checked="checked">
              Interior
            </label> 
            <label class="radio-inline" for="category-1">
              <input type="radio" name="category" id="category-1" ng-model="newTask.category" value="Exterior">
              Exterior
            </label>
          </div>
        </div>
        
        <!-- Season  -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="selectbasic">Select Season For Completion</label>
          <div class="col-md-4">
            <select id="selectbasic" name="selectbasic" class="form-control" ng-model="newTask.seasonToComplete">
              <option value="Spring">Spring</option>
              <option value="Summer">Summer</option>
              <option value="Fall">Fall</option>
              <option value="Winter">Winter</option>
            </select>
          </div>
        </div>
        
        <!-- Contractor? -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="contractor">Will you hire a contractor of DIY?</label>
          <div class="col-md-4"> 
            <label class="radio-inline" for="contractor-0">
              <input type="radio" name="contractor" id="contractor-0" value="true" checked="checked" ng-model="newTask.contractorNeeded">
              Hire Contractor
            </label> 
            <label class="radio-inline" for="contractor-1">
              <input type="radio" name="contractor" id="contractor-1" value="false" ng-model="newTask.contractorNeeded">
              DIY
            </label>
          </div>
        </div>
        
        <!-- Materials To Buy -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="materials">Materials To Buy</label>  
          <div class="col-md-8">
          <input id="materials" name="materials" type="text" ng-model="newTask.materialsToPurchase" placeholder="List any materials that will have to be purchased." class="form-control input-md" required="">
          </div>
        </div>
        
        <!-- Projected Cost -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="cost">Projected Cost</label>  
            <div class="col-md-6">
                <input id="cost" name="cost" type="text" ng-model="newTask.projectedCost" placeholder="How much will this task cost to complete?" class="form-control input-md" required="">
          </div>
        </div>
        
        <!-- Tools Required -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="tools">Tools Required</label>  
            <div class="col-md-5">
                <input id="tools" name="tools" type="text" ng-model="newTask.toolsRequired" placeholder="List any tools that will be required" class="form-control input-md" required="">   
            </div>
        </div>

        <!-- Completed? -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="completed">Is the task completed?</label>
            <div class="col-md-4"> 
                <label class="radio-inline" for="completed-0">
                    <input type="radio" name="completed" id="completed-0" ng-model="newTask.completed" ng-value=true checked="checked">Yes
                </label> 
                <label class="radio-inline" for="completed-1">
                    <input type="radio" name="completed" id="completed-1" ng-model="newTask.completed" ng-value=false>No
                </label>
            </div>
        </div>

        <!-- Add Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
                <button id="submit" name="submit" class="btn btn-primary" ng-disabled="newTaskForm.$invalid" ng-click="addNewTaskToFirebase()">Add New Task</button>
            </div>
        </div>

        </fieldset>
        </form>
        