<div class="container-fluid seasonBackground">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center text-info scheduleHeading">Seasonal Improvements Schedule</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 seasonButtons">
            <button class="btn btn-block btn-info btn-lg seasonsinglebutton" type="button" value="Spring" ng-click="getProjectsInSeason($event)">Spring</button> 
            <button class="btn btn-block btn-info btn-lg seasonsinglebutton" type="button" value="Summer" ng-click="getProjectsInSeason($event)">Summer</button> 
            <button class="btn btn-block btn-info btn-lg seasonsinglebutton" type="button" value="Fall" ng-click="getProjectsInSeason($event)">Fall</button> 
            <button class="btn btn-block btn-info btn-lg seasonsinglebutton" type="button" value="Winter" ng-click="getProjectsInSeason($event)">Winter</button>
        </div>
            <div class="col-md-8 seasonDiv">
                <table class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr class="seasonHeading">
                            <th>Project Name</th>
                            <th>Date To Be Complete</th>
                            <th>Mark Project Completed</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="project in projects" class="seasonTable">
                        <tr>
                            <td>{{project.projectName}}</td>
                            <td>{{project.dateToBeCompleted}}</td>
                            <td><button class="btn btn-default" ng-click="markProjectCompleted(project)"><i class="fa fa-check-square-o"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>