<div class="col-md-12 projectmaterials">
        <h2 class="text-center">Improvements Materials List</h2>
            <div ng-repeat="projectmaterial in projectmaterials" class="col-md-3 eachprojectmaterial">
                <div class="thumbnail projectmaterial">
                    <img class="itemImage" ng-src="{{projectmaterial.image}}">
                    <h4 class="itemTitle">{{projectmaterial.brandName}}</h4>
                    <p class="salePrice">${{projectmaterial.salePrice}}</p>
                    <div class="cartButton">
                        <a href="{{projectmaterial.addToCartUrl}}"><button class="btn btn-primary btn-sm">Add To Cart</button></a>
                    </div>
                </div>
            </div>
    </div>