<div class="row" id="improvementsPage">
    <h1 class="text-center dashHeadline">Home Improvements</h1>
        <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3" ng-click="getToCreateANewImprovementProject()">
                        <div class="thumbnail dash">
                            <img alt="Bootstrap Thumbnail First" src="/images/maintenancelist.png" />
                            <div class="caption">
                                <h4>Create A New Project</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-click="getToCurrentImprovementProjectsList()">
                        <div class="thumbnail dash">
                            <img alt="Bootstrap Thumbnail Second" src="/images/projects.png" />
                            <div class="caption">
                                <h4>View Current Projects</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-click="getToSeeProjectsBySeason()">
                        <div class="thumbnail dash">
                            <img alt="Bootstrap Thumbnail Third" src="/images/calendar.png" />
                            <div class="caption">
                                <h4>See Projects By Season</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-click="getToProjectArchives()">
                            <div class="thumbnail dash">
                                <img alt="Bootstrap Thumbnail Fourth" src="/images/archives.png" />
                                <div class="caption">
                                    <h4>View Project Archives</h4>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
        <h3><a class="btn" ng-click="getBackToDashboard()">Go Back To Dashboard »</a></h3>
    </div>
</div>