<div class="text-center task" ng-controller="ProjectDetailCtrl">
        <h3>{{project.projectName}}</h3>
        <h4 class="category">Category: {{project.category}}</h4>
        <h4 class="season">Season to Complete: {{project.seasonToComplete}}</h4>
        <div>
            <div>
                <div class="youtubeVideo">
                    {{project.linkToDiy}}
                </div>
                    <p class="description">Details: {{project.projectDescription}}</p>
                    <p class="toolsRequired">Tools Required: {{project.toolsRequired}}</p>
                    <p class="materials">Materials To Purchase: {{project.materialsToPurchase}}</p>
                    <p class="cost">Projected Cost: {{project.projectedCost}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>