<div class="text-center task" ng-controller="ProjectDetailCtrl">
        <h3>{{project.projectName}}</h3>
        <h4 class="category">Category: {{project.category}}</h4>
        <h4 class="season">Season to Complete: {{project.seasonToComplete}}</h4>
        <div>
            <div>
                <iframe width="100%" height="450" src="{{project.linkToDiy}}" frameborder="0" allowfullscreen=""></iframe>
            </div>
                <p class="description">Details: {{project.projectDescription}}</p>
                <p class="toolsRequired">Tools Required: {{project.toolsRequired}}</p>
                <p class="materials">Materials To Purchase: {{project.materialsToPurchase}}</p>
                <p class="cost">Projected Cost: {{project.projectedCost}}</p>
            </div>
            <div class="actionbuttons">
                <button class="btn btn-default" ng-click="editProjectFromDetail(project.id)">Edit Project <i class="fa fa-edit"></i></button>
            </div>
        </div>
</div>