<div class="container-fluid" ng-controller="ViewProjectsCtrl" id="viewTasksAndProjectsPage">
        <div class="row">
            <h2 class="taskProjectHeadline">myProjects</h2>
        </div>
        <div class="row viewTasksAndProjects">
            <div>
                <table class="layout display taskAndProjectTable">
                    <thead>
                        <tr class="taskHeading">
                            <th></th>
                            <th>Project Name</th>
                            <th>Date To Be Complete</th>
                            <th>Permit Needed</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="project in projects">
                        <tr>
                            <td class="tablenumber">{{$index + 1}}</td>
                            <td class="tabletaskname">{{project.projectName}}</td>
                            <td class="tabledate">{{project.dateToBeCompleted}}</td>
                            <td class="tablePermit">{{project.permitNeeded}}</td>
                            <td class="actions">
                                    <a class="tableEditTask" ng-click="editProject(project.id)">Edit</a> 
                                    <a class="tableDeleteTask" ng-click="deleteProjectFromFirebase(project.id)">Remove</a> 
                                    <a class="tableViewTask" ng-click="viewProjectDetail(project.id)">View</a> 
                                </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



