<div class="container" ng-controller="MaintSeasonalCtrl">
        <div class="row seasonButtons">
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-lg seasonsinglebutton" ng-click="">Spring</button>
                <button type="button" class="btn btn-primary btn-lg seasonsinglebutton" ng-click="">Summer</button>
                <button type="button" class="btn btn-primary btn-lg seasonsinglebutton" ng-click="">Fall</button>
                <button type="button" class="btn btn-primary btn-lg seasonsinglebutton" ng-click="">Winter</button>
            </div>
        <div class="row seasonDiv">
            <div class="col-sm-7">
                <h2>Tasks by Season</h2>
            </div>
        </div>
    </div>
</div>