<div class="row" id="maintenancePage">
    <h1 class="text-center dashHeadline">Home Maintenance</h1>
        <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3" ng-click="getToCreateANewMaintenanceTask()">
                        <div class="thumbnail dash">
                            <img alt="Bootstrap Thumbnail First" src="/images/maintenancelist.png" />
                            <div class="caption">
                                <h4>Create A New Task</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-click="getToCurrentMaintenanceTasksList()">
                        <div class="thumbnail dash">
                            <img alt="Bootstrap Thumbnail Second" src="/images/projects.png" />
                            <div class="caption">
                                <h4>View Current Tasks</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-click="getToSeeTasksBySeason()">
                        <div class="thumbnail dash">
                            <img alt="Bootstrap Thumbnail Third" src="/images/calendar.png" />
                            <div class="caption">
                                <h4>See Tasks By Season</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-click="getToMaintenanceArchives()">
                            <div class="thumbnail dash">
                                <img alt="Bootstrap Thumbnail Fourth" src="/images/archives.png" />
                                <div class="caption">
                                    <h4>View Task Archives</h4>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
        <h3><a class="btn" ng-click="getBackToDashboard()">Go Back To Dashboard »</a></h3>
</div>