<div class="col-md-12 taskmaterials">
        <h2 class="text-center taskheadline">Maintenance Materials List</h2>
        <div ng-repeat="taskmaterial in taskmaterials" class="col-md-3 eachtaskmaterial">
            <div class="thumbnail taskmaterial">
                <img class="itemImage" ng-src="{{taskmaterial.image}}">
                <p class="itemTitle">{{taskmaterial.brandName}}</p>
                <p class="salePrice">${{taskmaterial.salePrice}}</p>
                <div>
                    <a href="{{taskmaterial.addToCartUrl}}"><button class="btn btn-primary">Add To Cart</button></a>
                </div>
            </div>
        </div>
    </div>