<div class="container-fluid" ng-controller="MaintSeasonalCtrl">
        <div class="row">
            <h2 class="text-center">Seasonal Maintenance Schedule</h2>
            <div class="col-sm-4 seasonButtons">
                <button type="button" class="btn btn-primary btn-lg seasonsinglebutton" ng-click="getTasks()">Spring</button>
                <button type="button" class="btn btn-primary btn-lg seasonsinglebutton" ng-click="getTasks()">Summer</button>
                <button type="button" class="btn btn-primary btn-lg seasonsinglebutton" ng-click="getTasks()">Fall</button>
                <button type="button" class="btn btn-primary btn-lg seasonsinglebutton" ng-click="getTasks()">Winter</button>
            </div>
            <div class="col-sm-8 seasonDiv">
                <div ng-repeat="task in tasks">
                    <h3 class="taskName">{{task.taskName}} <button class="btn btn-default" ng-click="markTaskCompleted(task, tasks)"><i class="fa fa-check-square-o"></i></button></h3>
                </div>
            </div>
        </div>
    </div>
</div>
