<div class="text-center" ng-controller="MaintArchivesCtrl">
        <h3 class="text-center">Improvement Archives</h3>
        <div id="custom-search-input">
            <div class="searchbar">
                <input class="searchinput" type="text" placeholder="Search" ng-model="searchText"/>
            </div>
        </div>
        <div class="tasks">
            <div ng-repeat="complete in completed | filter: searchText" class="col-sm-6 eachtask">
                <div class="task">
                        <h3 class="taskName">{{complete.taskName}}</h3>
                        <p class="description">Details: {{complete.taskDescription}}</p>
                        <p class="category">Category: {{complete.category}}</p>
                        <p class="toolsRequired">Tools Required: {{complete.toolsRequired}}</p>
                        <p class="materials">Materials To Purchase: {{complete.materialsToPurchase}}</p>
                        <p class="cost">Projected Cost: {{complete.projectedCost}}</p>
                        <p class="season">Season to Complete: {{complete.seasonToComplete}}</p>
                </div>
            </div>
        </div>
    </div>
