<div class="row">
    <h2 class="text-center">Home Maintenance</h2>
        <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3" ng-click="getToCreateANewMaintenanceTask()">
                        <div class="thumbnail dash">
                            <img alt="Bootstrap Thumbnail First" src="/images/maintenancelist.png" />
                            <div class="caption">
                                <h3 ng-click="">Create A New Task</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-click="getToCurrentMaintenanceTasksList()">
                        <div class="thumbnail dash">
                            <img alt="Bootstrap Thumbnail Second" src="/images/projects.png" />
                            <div class="caption">
                                <h3 ng-click="">View Current Tasks</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-click="getToSeeTasksBySeason()">
                        <div class="thumbnail dash">
                            <img alt="Bootstrap Thumbnail Third" src="/images/calendar.png" />
                            <div class="caption">
                                <h3>See Tasks By Season</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-click="getToMaintenanceArchives()">
                            <div class="thumbnail dash">
                                <img alt="Bootstrap Thumbnail Fourth" src="/images/archives.png" />
                                <div class="caption">
                                    <h3>View Task Archives</h3>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
        <h3><a class="btn" ng-click="getBackToDashboard()">Go Back To Dashboard »</a></h3>
</div>