<div class="text-center task" ng-controller="TaskDetailCtrl">
        <h3>{{task.taskName}}</h3>
        <h4 class="category">Category: {{task.category}}</h4>
        <h4 class="season">Season to Complete: {{task.seasonToComplete}}</h4>
        <div>
            <div>
                <iframe width="100%" height="450" src="{{task.linkToDiy}}" frameborder="0" allowfullscreen=""></iframe>
            </div>
                    <p class="description">Details: {{task.taskDescription}}</p>
                    <p class="toolsRequired">Tools Required: {{task.toolsRequired}}</p>
                    <p class="materials">Materials To Purchase: {{task.materialsToPurchase}}</p>
                    <p class="cost">Projected Cost: {{task.projectedCost}}</p>
            </div>
        </div>
</div>