<div class="container-fluid" ng-controller="ViewTasksCtrl" id="viewTasksAndProjectsPage">
    <div class="row">
        <h2 class="taskProjectHeadline">myTasks</h2>
    </div>
    <div class="row viewTasksAndProjects">
        <div>
            <table class="layout display taskAndProjectTable">
                <thead>
                    <tr class="taskHeading">
                        <th></th>
                        <th>Task Name</th>
                        <th>Date To Be Complete</th>
                        <th>Urgency</th>
                        <th>Frequency</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody ng-repeat="task in tasks">
                    <tr>
                        <td class="tablenumber">{{$index + 1}}</td>
                        <td class="tabletaskname">{{task.taskName}}</td>
                        <td class="tabledate">{{task.dateToBeCompleted}}</td>
                        <td class="tableUrgency">{{task.urgency}}</td>
                        <td class="tableFrequency">{{task.frequency}}</td>
                        <td class="actions">
                            <a class="tableEditTask" ng-click="editTask(task.id)">Edit</a> 
                            <a class="tableDeleteTask" ng-click="deleteTaskFromFirebase(task.id)">Remove</a> 
                            <a class="tableViewTask" ng-click="viewTaskDetail(task.id)">View</a> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>