.tasks {
  display: flex;
  flex-direction: column;
  flex-wrap: row;
  margin: 5px; }

.eachtask {
  width: 100%; }

.task {
  border: 2px solid black;
  margin: 2%; }

.seasonButtons {
  display: inline-flex;
  flex-direction: column; }

.seasonsinglebutton {
  margin-bottom: 15%; }

.seasonDiv {
  border: 2px solid black; }
