.tasks {
  display: flex;
  flex-direction: column;
  flex-wrap: row;
  margin: 5px; }

.eachtask {
  width: 100%; }

.task {
  border: 2px solid black;
  margin: 2%; }

.seasonButtons {
  display: inline-flex;
  flex-direction: column;
  padding-left: 5%; }

.seasonsinglebutton {
  margin-bottom: 10%; }

.seasonImprovement {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin-top: 5%; }

.scheduleHeading {
  padding-bottom: 5%; }

.seasonHeading {
  padding-bottom: 2%; }

.dash:hover {
  background-color: #20B2AA;
  color: white; }
