.tasks {
  display: inline-block;
  flex-wrap: wrap;
  flex-flow: row;
  margin: 0 auto;
  justify-content: space-between; }

.eachtask {
  width: 25%;
  margin: 4%; }

.task {
  border: 2px solid white;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  border-radius: 2%;
  height: 350px;
  background-color: #F5F5F5;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.43);
  -moz-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.43);
  box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.43); }

.viewTasksAndProjects {
  padding: 2%; }

.taskProjectHeadline {
  padding-left: 2%;
  color: #ebebeb; }

.taskHeading {
  background-color: rgba(81, 81, 119, 0.63);
  color: #fff5e7; }

.taskProjectDetail {
  border: 2px solid white;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  border-radius: 2%;
  width: 75%;
  margin: 0 auto;
  background-color: #F5F5F5;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.43);
  -moz-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.43);
  box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.43); }

table.taskAndProjectTable th {
  border: 1px solid #AAAAAA;
  padding: 20px 20px; }

table.taskAndProjectTable td {
  border: 1px solid #AAAAAA;
  padding: 10px 10px; }

.seasonButtons {
  display: inline-flex;
  flex-direction: column;
  padding-left: 5%; }

.seasonsinglebutton {
  margin-bottom: 10%;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: 'Tienne', serif;
  color: #000000;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.062);
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none; }

.seasonsinglebutton:hover {
  background-color: rgba(206, 204, 204, 0.555);
  color: black; }

.seasonBackground {
  box-shadow: inset 1px 1px 15px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.856);
  margin-bottom: 5%;
  margin-top: 10%;
  padding: 2%; }

.scheduleHeading {
  padding-bottom: 5%; }

.seasonHeading {
  padding-bottom: 2%; }

body {
  background-image: url(/images/house.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed; }

.appheadline {
  padding-bottom: 10%; }

.signin {
  padding: 6%;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  color: #000;
  transition: background 0.5s linear; }

.signin:hover {
  background-color: rgba(255, 255, 255, 0.226);
  box-shadow: 0 0 10px #000; }

.googlebutton {
  height: 100px;
  width: 300px; }

.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  color: black; }

.navbar-default {
  background-color: rgba(255, 255, 255, 0.5);
  color: black; }

.navbar-default .navbar-nav > li > a {
  color: black; }

.navbar-default .navbar-brand {
  color: black; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: 0; }

.dash:hover {
  background-color: rgba(201, 201, 201, 0.603);
  color: white; }

.dash {
  background-color: rgba(250, 250, 250, 0.884);
  color: white;
  border-radius: 2%;
  transition: background 0.5s linear; }

.dashCreate {
  background-color: rgba(250, 250, 250, 0.884);
  color: white;
  border-radius: 2%;
  transition: background 0.5s linear;
  width: 25%;
  padding: 3%;
  margin: 3%;
  height: 350px; }

.dashHeadline {
  margin-bottom: 5%; }

#dashboardPage {
  margin: 0 auto;
  padding: 7%; }

#createPage {
  margin: 0 auto;
  padding: 5%;
  border-radius: 2%; }

.createButton {
  padding: 8%; }

#newProjectPage {
  margin: 0 auto;
  padding: 1%;
  background-color: rgba(250, 250, 250, 0.918);
  box-shadow: inset 1px 1px 15px 1px rgba(0, 0, 0, 0.2); }

#newTaskPage {
  margin: 0 auto;
  padding: 1%;
  background-color: rgba(250, 250, 250, 0.911);
  box-shadow: inset 1px 1px 15px 1px rgba(0, 0, 0, 0.2); }

#editTaskPage {
  margin: 0 auto;
  padding: 1%;
  background-color: rgba(250, 250, 250, 0.911);
  box-shadow: inset 1px 1px 15px 1px rgba(0, 0, 0, 0.2); }

#editProjectPage {
  margin: 0 auto;
  padding: 1%;
  background-color: rgba(250, 250, 250, 0.911);
  box-shadow: inset 1px 1px 15px 1px rgba(0, 0, 0, 0.2); }

#maintenancePage {
  margin: 0 auto;
  padding: 7%;
  border-radius: 2%; }

#improvementsPage {
  margin: 0 auto;
  padding: 10%;
  border-radius: 2%; }

#viewTasksAndProjectsPage {
  background-color: rgba(95, 86, 86, 0.514);
  padding: 3%;
  margin-top: 5%; }

#items {
  margin: 2%; }

.item {
  border: 2px dashed #b8b8b8;
  padding: 2%; }

.formButtons {
  margin: 0 auto; }

.project:hover {
  background-color: #5bc0de;
  color: white; }

.thetasks:hover {
  background-color: #5bc0de;
  color: white; }

.searchinput {
  width: 250px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  outline: none; }

.searchinput:focus {
  width: 400px; }

h4 {
  font-family: 'Tienne', serif;
  color: black; }

h1 {
  font-family: 'Tienne', serif;
  color: black; }

h2 {
  font-family: 'Tienne', serif;
  color: black; }

.materialSearchResults {
  width: 100%; }

.newItemImage {
  width: 100%; }

.newItemTitle {
  width: 100%; }

.newSalePrice {
  width: 100%; }
